<footer>
  <ul>
    <li>Copyright WSDOT © <slot name="year">INSERT YEAR HERE</slot></li>
    <li>
      <calcite-link
        href="https://wsdot.wa.gov/about/contacts/send-us-your-feedback"
        icon-start="speech-bubble"
        icon-end="debug"
        target="_blank"
        title="Contact Us with any bug reports, suggestions, questions or comments"
        rel="noopener noreferrer"
        >Contact Us</calcite-link
      >
    </li>
    <li>
      <calcite-link
        class="footerContainer"
        icon-end="launch"
        href="https://wsdot.wa.gov/about/policies/web-privacy-notice"
        title="Privacy Policy"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy</calcite-link
      >
    </li>
    <li>
      <calcite-link class="footerContainer disclaimer-link" href="#"
        >Disclaimer</calcite-link
      >
    </li>
  </ul>
</footer>
