<header slot="header">
  <div class="logo-section">
    <a href="http://wsdot.wa.gov" target="_blank" rel="noopener noreferrer">
      <img
        class="wsdot-logo-white"
        alt="Washington State Department of Transportation"
      />
    </a>
  </div>
  <calcite-navigation>
    <calcite-menu slot="content-end">
      <calcite-menu-item
        text="Travel"
        href="https://wsdot.wa.gov/travel"
        target="_blank"
      ></calcite-menu-item>
      <calcite-menu-item
        text="Construction & planning"
        href="https://wsdot.wa.gov/construction-planning"
        target="_blank"
      ></calcite-menu-item>
      <calcite-menu-item
        text="Business with WSDOT"
        href="https://wsdot.wa.gov/business-wsdot"
        target="_blank"
      ></calcite-menu-item>
      <calcite-menu-item
        text="Engineering & standards"
        href="https://wsdot.wa.gov/engineering-standards"
        target="_blank"
      ></calcite-menu-item>
      <calcite-menu-item
        text="About"
        href="https://wsdot.wa.gov/about"
        target="_blank"
      ></calcite-menu-item>
    </calcite-menu>
  </calcite-navigation>
</header>
