.logo-section {
	padding-top: 9px;
	padding-bottom: 8px;
}

.logo-section > a {
	padding-left: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
}

header {
	background-color: var(--wsdot-logo-green);
	display: flex;
	flex: auto;
	h1 {
		margin-left: 1em;
		color: white;
	}
}
