.logo-section {
  padding-top: 9px;
  padding-bottom: 8px;
}

.logo-section > a {
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  display: inline;
  text-align: right;
  margin-left: 1em;
  color: white;
}

header {
  background-color: var(--wsdot-logo-green);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
