:root {
  font-family: "Lato", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

table {
  padding: 0.5rem;
  margin: 0.5rem;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0.3rem;
}

tr:nth-child(even) {
  background-color: var(--gray-20);
}

/* 
Hide all rows, then re-enable the ones we want.
Only show '', 'SP', 'CO', 'AR' rows 
*/

tr:not(:first-child) {
  display: none;
}

tr.mainline,
tr.rrt-sp,
tr.rrt-co,
tr.rrt-ar {
  display: table-row;
}